<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.newhit.timingcalculation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_hammer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimingCalculation">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TimeMinuiteReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ReservationTimeActivity"
            android:theme="@style/PhonTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>